<h1>Latest News</h1>
<ul>
    {{#each article}}
    <li>
        <div>{{title}}</div>
        <div>{{link}}</div>
        <div>Notes: {{note}}</div>
    </li>
    {{/each}}
</ul>
<div class="notesOverlay">
    <div class="notes">

    </div>
</div>