h1 {
    text-align: center;
    font-size: 5rem;
    color: white;
    text-shadow: 0 0 2px red;
    border-left: 1px solid #dee6ed;
    border-right: 1px solid #dee6ed;
    width: 35%;
    margin: 1% auto;
    padding: 0 1%;
}
html {
    background-color: #c8c8c8;
    background-image: url("../images/newspaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
ul {
    text-align: center;
    height: 33rem;
    width: 100%;
    position: absolute;
    overflow: scroll;
    background: rgba(255, 255, 255, 0.8);
    border-top: 3px solid #dee6ed;
    border-bottom: 3px solid #dee6ed;
    font-weight: bold;
}
ul::-webkit-scrollbar {
    display: none;
}
li {
    border-top: 1px solid black;
    /* height: 5rem; */
    text-align: center;
    font-family: courier;
    padding: .5rem;
}
li div:first-child {
    color: red;
    font-family: arial;
    font-size: 1.25rem;
    padding: .5rem;
    font-weight: lighter;
}
li:first-of-type {
    border-top: none;
}
li:last-of-type {
    border-bottom: none;
}
li:hover {
    background: #fff;
}
.notesBtn {
    width: 10%;
    height: 3rem;
    margin: .5% 45% 1% 45%;
    border-radius: .2rem;
    box-shadow: 0 0 2rem #fafeff;
    border: none;
    background: #2b5175;
    color: #dee6ed;
    font-family: courier;
    font-size: 1rem;
}
.notesBtn:hover {
    background: #dee5ed;
    color: #2b5175;
    box-shadow: 0 0 2rem #2b5175;
    border-radius: 3rem;
}
.notes {
    height: 15rem;
    background:#ffe897;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    width: 30%;
    height: 8rem;
}
.notes div:first-child {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6d737d;
    letter-spacing: 1mm;
    font-weight: 100;
    margin-bottom: 3%;
}
.notes div:last-child {
    font-size: 1rem;
    font-family: arial;
    font-weight: 100;
    color: black;
}
.notesOverlay {
    display: none;
}
a {
    color: black;
    text-decoration: none;
}