h1 {
    text-align: center;
    font-size: 5rem;
    margin: 1rem;
}
/* body, html {
    background-color: #c8c8c8;
    background-image: url("../images/newspaper.jpg");
    background-size: contain;
    background-repeat: no-repeat;
} */
html {
    background-color: #c8c8c8;
    background-image: url("../images/newspaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
ul {
    text-align: center;
    height: 33rem;
    width: 100%;
    position: absolute;
    overflow: scroll;
    background: rgba(255, 255, 255, 0.8);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-weight: bold;
}
ul::-webkit-scrollbar {
    display: none;
}
li {
    border-top: 1px solid black;
    /* height: 5rem; */
    text-align: center;
    font-family: courier;
    padding: .5rem;
}
li div:first-child {
    color: red;
    font-family: arial;
    font-size: 1.5rem;
    padding: .25rem;
}
li div:last-child {
    color: #fff;
}
li:hover {
    background: #fff;
}
.notesBtn {
    width: 10%;
    height: 3rem;
    margin: 1% 45% 1% 45%;
}
.notes {
    height: 15rem;
    background:#fec706;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    width: 30%;
    height: 8rem;
}
.notes div:first-child {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000;
    letter-spacing: 1mm;
}
.notes div:last-child {
    font-family:serif;
    font-style: italic;
}
.notesOverlay {
    display: none;
}